.chip
{
    display: flex;
    gap:30px;
    border-radius: 40px;
    padding: 6px;
    align-items: center;
    font-size: 14px;
    /* background-color: green; */
    color: #fff;
    width: fit-content;
}
.chip svg
{
  width: 17px;
  height: 17px;
  cursor: pointer;
}